@import '../../../scss/_variable.scss';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: $leftWidth;
  z-index: 1;
  transition: all 0.3s ease-in;
  transform: translateX(-$leftWidth);
  border-right: var(--color-border-primary);
  &.active {
    transform: unset;
  }
}

.headerContent {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  padding: 0.5rem;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:active {
    background-color: var(--color-low-light);
  }
}

.headerIcon {
  max-height: 2.8rem;
  width: 2.8rem;
}

.headerTitle {
  font-size: 2rem;
  color: var(--color-font-secondary);
}
