.container {
  display: flex;
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-bottom: var(--color-border-primary);
  &.hover:hover {
    cursor: pointer;
    background-color: var(--color-low-light);
  }
}

.leftComponent {
  margin-right: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.titleContainer {
  height: 60%;
}
.descContainer {
  height: 40%;
}

.title {
  font-size: 1.8rem;
  color: var(--color-font-primary);
}
.desc {
  font-size: 1.3rem;
  color: var(--color-font-secondary);
}
