.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
  background-color: var(--color-primary);
  border-right: var(--color-border-primary);
  width: 44rem;
}

.headerContent {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  padding: 0.5rem;
}

.headerBtnGroup {
  display: flex;
  justify-content: end;
  flex: 1;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  // background-color: red;
  &:active {
    background-color: var(--color-low-light);
  }
}

.headerIcon {
  width: 3rem;
}
