.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-background);
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--card-shadow);
}

.title {
  font-size: 2rem;
  color: var(--color-card-font);
}

.line {
  background-color: var(--color-accent-secondary);
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
