@import './_mixin.scss';
@import './util.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  @include queryWidth(s) {
    font-size: 50%; // 1rem = 8px;
  }
  @include queryWidth(xs) {
    font-size: 43.75%; // 1rem = 7px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  color: var(--color-font);
  font-size: 1.6rem;
  background-color: var(--color-primary);
  transition: all 0.3s;
  overflow: hidden;
}

::selection {
  background-color: var(--color-hight-light);
  color: var(--color-font-primary);
}

.pointer {
  cursor: pointer;
}
